<!doctype html>
    <title> Hello</title>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    </head>

    <body>
        <h1> ok</h1>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        View Latest Logs
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id ="sensorContainer">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        </div>
    </body>

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
</script>
    <script>
        async function updatedData() {
            const response = await fetch('/api/sensor');
            const logs = await response.json(); 
           
            const container = document.getElementById("sensorContainer");
            container.innerHTML = "";
            logs.forEach(log => {
                const div = document.createElement("div");
                if (log.doorState === "opened" && log.motion === "detected") {
                    div.className = "alert alert-primary";
                }
                else if (log.doorState === "opened") {
                    div.className = "alert alert-warning";
                }
                else if (log.motion === "detected") {
                    div.className = "alert alert-danger";
                }
                else {
                    div.className = "alert alert-success";
                }
                div.textContent = log.timestamp +
                "| Door: " + log.doorState + "| Motion: " + log.motion
                
                container.appendChild(div)
            });

    
}
    document.getElementById("exampleModal").addEventListener("show.bs.modal", updatedData);
    setInterval(updatedData, 1000);
    </script>
    
</html>